#ignore thumbnails created by windows
Thumbs.db
ActemraPFP/.vs/config/applicationhost.config
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
[Bb]uild*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
node_modules*/
packages
.vs
*.suo

# ignore less generation
custom.css
custom.css.map
custom.min.css
.nuget/packages.config
